.why {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../../Assets/Why-bg.jpg);
    position: relative;
}

.pdf-dn h3 {
    text-align: center;
}

.pdf-al {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .why {
        height: 80vh;
    }
}